# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private
.env

# Pruebas automatizadas - No subir al repositorio
pruebas_automatizadas/
pruebas_automatizadas/**
*.test.js
*.test.jsx
coverage/
jest.config.js
babel.config.js

#tests
test-results
tests
jest.config.cjs
__tests__
setupTests.js
test
coverage